html { height:100%; width:100%; }


.imgLogoPrincipal
{
	width:700px;
	height:328px;
	position: absolute;
   	top: 100px;
   	left: 290px;
}

.principal{ background:#8ba987 url('../images/fondo_de_la pantalla_principal.jpg') no-repeat center center; background-size:100% 100%; }

#titleMenuPrincipal
{
	margin:5%;
	font-family:"Muli";
	 color:#fff;
	 text-align:center;
	 font-size:2.8em;
	 font-weight: bold
}
/*
#btnJugarPrincipal{
	width:20%;
	height:20%;
	position: absolute;
   	top: 480px;
   	left: ;
}
*/
/*input necesario para quitarle el background que trae por defecto*/
input {
background-color: rgba(0,0,0,0.1) !important;
border-style: none !important;
border: none;
}

/*
#container {
width: 20%;
margin: 20%;
position: absolute;

}*/
#btnJugarPrincipal{
	width:180px;
	height:180px;
	position: absolute;
   	top: 480px;
   	left: 550px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#btnJugarPrincipal:hover {
	width:200px;
	height:200px;
	position: absolute;
   	top: 470px;
   	left: 540px;

}
/*splash*/
#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:white;
}

#imglogo
{
	width:537px;
	height:408px;
	position: absolute;
	left:371.5px;
	top:156px;
   	
}
/*boton puntaje*/
#btnPuntaje{
	width:180px;
	height:180px;
	position: absolute;
   	top: 480px;
   	left: 1080px;
   	border-radius: 25px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#btnPuntaje:hover {
	width:200px;
	height:200px;
	position: absolute;
   	top: 470px;
   	left: 1070px;
   	border-radius: 25px;

}

/*boton regresar de puntaje a principal*/
#btnRegresarPrincipal{
	width:180px;
	height:180px;
	position: absolute;
   	top: 480px;
   	left: 1080px;
   	border-radius: 70px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#btnRegresarPrincipal:hover {
	width:200px;
	height:200px;
	position: absolute;
   	top: 470px;
   	left: 1070px;
   	border-radius: 70px;

}

/*campo de texto para el nombre*/
.textNombre
{
	
   display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  font: normal 39px/normal Tahoma, Geneva, sans-serif;
  color: rgba(26,216,48,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(255,255,255) !important;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  width:500px;
  position: absolute;
  top: 293px;
  left:220px;
  
	
}

/*botones del nombre*/
#btnCambiarNombre
{
	width:300px;
	height:100px;
	position: absolute;
	top: 450px;
   	left: 290px;
   	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	
}

#btnCambiarNombre:hover {
	width:310px;
	height:110px;
	position: absolute;
	top: 445px;
   	left: 285px;

}
#btnIngresarNombre
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 40px/normal Tahoma, Geneva, sans-serif;
  color: rgba(0,65,117,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(70,128,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  width:300px;
  position: absolute;
  top: 293px;
  left:790px;
}
#btnIngresarNombre:hover {
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 40px/normal Tahoma, Geneva, sans-serif;
  color: rgba(0,65,117,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(140,255,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  width:310px;
  position: absolute;
  top: 293px;
  left:785px;

}

/*estilos paginacion carousel{*/
.carouselTemas {
            margin:0;
            padding:0;
            list-style:none;
        }
        
        li {
            text-align:center;
        }
        
       /* li span {
            display:block;
            margin:5px;
            background:red;
        }*/
        li input {
            display:block;
            margin:5px;
            background:red;
            width:400px;
			height:400px;
        }
        /*
        .next,
        .prev {
            cursor:pointer;
        }*/
        .prev {
            cursor:pointer;
            height:400px;
            width:40px;
            position: absolute;
			left:0px;
			top:40px;
            
        }
        .next {
            cursor:pointer;
            height:400px;
            width:40px;
            position: absolute;
			left:1240px;
			top:40px;
            
        }
        
        .carousel-pagination li {
            display:block;
            width:10px;
            height:10px;
            margin-right:5px;
            cursor:pointer;
            float:left;
            background:#333;
        }
        
        .carousel-pagination .carousel-pagination-active {
            background:#ff0000;
        }

/*}estilos paginacion carousel*/

#slidershowTema{
	position: absolute;
	left:40px;
	top:40px;
}

/*estilos Texto Pregunta*/
#lblPregunta
{
	
	position: absolute;
	top: 150px;
	left:115px;
	width:1050px;
	height:180px;
	
	font-family:"Verdana";
	
	text-align:center;
	font-size:40px;
	font-weight: bold;
	
	text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  	-moz-text-shadow: 0 0 2px #000;
  	-webkit-text-shadow: 0 0 2px #000;
  	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 1px black;
	
}

#lblScore
{
	position: absolute;
	top: 30px;
	left:1100px;
	width:80px;
	
	font-family:"Verdana";
	color: rgba(0, 140, 255, 1);
	text-align:left;
	font-size:30px;
	font-weight: bold;
	
	text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  	-moz-text-shadow: 0 0 2px #000;
  	-webkit-text-shadow: 0 0 2px #000;
	
}
#score
{
	position: absolute;
	top: 60px;
	left:1100px;
	width:80px;
	
	font-family:"Verdana";
	color: rgba(0, 65, 117, 1);
	text-align:right;
	font-size:35px;
	font-weight: bold;
	
	text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  	-moz-text-shadow: 0 0 2px #000;
  	-webkit-text-shadow: 0 0 2px #000;
	
}


#lblSabiasQue
{
	position: absolute; 
	top: 200px; 
	width:590px;
	left: 370px; /*30 de mas por que la sombra no esta en el centro*/
	text-align:center; 
	font-size:38px;
	font-weight: bold;
	
	font-family:"Verdana";
	color:white;
	
	text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 4px #000;
  -webkit-text-shadow: 0 0 4px #000;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
	
}


#respuesta1
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(70,128,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	
	position: absolute;
	width:500px;
	height:100px;
	left:115px;
	top:350px;
	text-align:center;
	font-size: 18px;
}
#respuesta1:hover
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(0,65,117,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(140,255,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	
	position: absolute;
	width:500px;
	height:100px;
	left:115px;
	top:350px;
	text-align:center;
	font-size: 18px;
}
#respuesta2
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(70,128,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	position: absolute;
	width:500px;
	height:100px;
	left:665px; 
	top:350px;
	text-align:center;
	font-size: 18px;
}
#respuesta2:hover
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(0,65,117,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(140,255,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	position: absolute;
	width:500px;
	height:100px;
	left:665px; top:350px;
	text-align:center;
	font-size: 18px;
}
#respuesta3
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(70,128,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	position: absolute;
	width:500px;
	height:100px;
	left:115px;
	top:480px;
	text-align:center;
	font-size: 18px;
}
#respuesta3:hover
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(0,65,117,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(140,255,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	position: absolute;
	width:500px;
	height:100px;
	left:115px;
	top:480px;
	text-align:center;
	font-size: 18px;
}
#respuesta4
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(70,128,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	position: absolute;
	width:500px; 
	height:100px; 
	left:665px; 
	top:480px; 
	text-align:center; 
	font-size: 18px
}
#respuesta4:hover
{
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2px 2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: Tahoma;
  color: rgba(0,65,117,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(140,255,0,1) !important;
  -webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 9px 4px rgba(0,0,0,0.5) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 0 0 9px rgba(20,255,20,0.7) , -1px -1px 0 rgba(150,60,60,1) ;
  -webkit-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: word-spacing 300ms cubic-bezier(0.42, 0, 0.58, 1);
	position: absolute;
	width:500px; 
	height:100px; 
	left:665px; 
	top:480px; 
	text-align:center; 
	font-size: 18px
}

#btnSiguientePregunta
{
	position: absolute;
	width:100px;
	height:100px;
	top: 500px;
   	left: 1100px;
	
}


/*estilos para el video*/
.simple-video-wrapper {
	box-shadow: 0 5px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
	height: 480px;
	margin: 0 auto;
	position: relative;
	width: 853px;
	
}

.simple-video-overlay {
	background: rgba(0,0,0,0.4) url(../images/button.png) 50% 50% no-repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

/*boton para regresar a principal*/

#btnAnimacionaPrincipal{
	position: absolute;
	width:100px;
	height:100px;
	top: 520px;
   	left: 1100px;
   	border-radius: 70px;
   	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#btnAnimacionaPrincipal:hover{
	position: absolute;
	width:120px;
	height:120px;
	top: 510px;
   	left: 1100px;
   	border-radius: 70px;
}

#btnCerrarSabiasQue
{
	position: absolute;
	width:180px;
	height:180px;
	top: 480px;
   	left: 1080px;
   	border-radius: 70px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	
}
#btnCerrarSabiasQue:hover
{
	position: absolute;
	width:200px;
	height:200px;
	top: 470px;
   	left: 1070px;
   	border-radius: 70px;
	
}


#btncateManeBasuRural
{
	position: absolute;
	width:300px;
	height:201px;
	top: 150px;
   	left: 40px;
   	border-radius: 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0.6;
	z-index: 0;
}

#btncateManeBasuRural:hover
{
	position: absolute;
	width:300px;
	height:201px;
	top: 150px;
   	left: 40px;
	border: 6px solid #E0E0E0;
	border-radius: 25px;
    color: rgb(255,255,255);
    line-height: 500px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;  
    opacity: 1;
    z-index: 0;  
}

#btncateMalManejoResiduosSolidos
{
	position: absolute;
	width:300px;
	height:201px;
	top: 450px;
   	left: 256px;
   	border-radius: 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0.6;
	z-index: 0;
}
#btncateMalManejoResiduosSolidos:hover
{
	position: absolute;
	width:300px;
	height:201px;
	top: 450px;
   	left: 256px;
	border: 6px solid #E0E0E0;
	border-radius: 25px;
    color: rgb(255,255,255);
    line-height: 500px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;
    opacity: 1;
    z-index: 0;
}

#btncateRellenoSanitario
{
	position: absolute;
	width:300px;
	height:201px;
	top: 150px;
   	left: 490px;
   	border-radius: 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0.6;
	z-index: 0;
}
#btncateRellenoSanitario:hover
{
	position: absolute;
	width:300px;
	height:201px;
	top: 150px;
   	left: 490px;
   	border: 6px solid #E0E0E0;
	border-radius: 25px;
    color: rgb(255,255,255);
    line-height: 500px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;
    opacity: 1;
    z-index: 0;

}
#btncateManeResiduosZonaRural
{
	position: absolute;
	width:300px;
	height:201px;
	top: 450px;
   	left: 768px;
   	border-radius: 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0.6;
	z-index: 0;
	
}
#btncateManeResiduosZonaRural:hover
{
	position: absolute;
	width:300px;
	height:201px;
	top: 450px;
   	left: 768px;
   	border: 6px solid #E0E0E0;
	border-radius: 25px;
    color: rgb(255,255,255);
    line-height: 500px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;
    opacity: 1;
    z-index: 0;

}
#btncateTratamientoResiduosSolidos
{
	position: absolute;
	width:300px;
	height:201px;
	top: 150px;
   	left: 940px;
   	border-radius: 20px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0.6;
	z-index: 0;
}
#btncateTratamientoResiduosSolidos:hover
{
	position: absolute;
	width:300px;
	height:201px;
	top: 150px;
   	left: 940px;
   	border: 6px solid #E0E0E0;
	border-radius: 25px;
    color: rgb(255,255,255);
    line-height: 500px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;
    opacity: 1;
    z-index: 0;
}
#lblcateManeBasuRural
{
	position: absolute;
	width:260px;
	height:201px;
	top: 225px;
   	left: 60px;
   	display:none;
	z-index: 1;
	
	font-family:"Verdana";
	font-size:28px;
	
	color: rgba(255,255,255,1);
	-webkit-text-stroke: 1px black;
    
}

#lblcateMalManejoResiduosSolidos
{
	position: absolute;
	width:260px;
	height:201px;
	top: 525px;/*+100-25*/
   	left: 276px;/*+20*/
   	display:none;
	z-index: 1;
	
	font-family:"Verdana";
	font-size:28px;
	
	color: rgba(255,255,255,1);
	-webkit-text-stroke: 1px black;
    
}

#lblcateRellenoSanitario
{
	position: absolute;
	width:260px;
	height:201px;
	top: 225px;/*+100-25*/
   	left: 510px;/*+20*/
   	display:none;
	z-index: 1;
	
	font-family:"Verdana";
	font-size:28px;
	
	color: rgba(255,255,255,1);
	-webkit-text-stroke: 1px black;
    
}

#lblcateManeResiduosZonaRural
{
	position: absolute;
	width:260px;
	height:201px;
	top: 525px;/*+100-25*/
   	left: 788px;/*+20*/
   	display:none;
	z-index: 1;
	
	font-family:"Verdana";
	font-size:28px;
	
	color: rgba(255,255,255,1);
	-webkit-text-stroke: 1px black;
    
}

#lblcateTratamientoResiduosSolidos
{
	position: absolute;
	width:260px;
	height:201px;
	top: 225px;/*+100-25*/
   	left: 960px;/*+20*/
   	display:none;
	z-index: 1;
	
	font-family:"Verdana";
	font-size:28px;
	
	color: rgba(255,255,255,1);
	-webkit-text-stroke: 1px black;
    
}
#lblTituloTema
{
	position: absolute;
	top: 20px;
   	width:1280px;
   	text-align:center;
	
	font-weight: bold;	
	font-family:"Verdana";
	font-size:75px;
	font-style:italic;
	color: #004175;
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 2px black;
	
}
#lblTituloNombre
{
	position: absolute;
	top: 100px;
   	width:1280px;
   	text-align:center;
	
	font-weight: bold;	
	font-family:"Verdana";
	font-size:75px;
	font-style:italic;
	color: #004175;
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 1px black;
	
}

#btnCerrarPuntajeGanado
{
	position: absolute;
	width:180px;
	height:180px;
	top: 480px;
   	left: 1080px;
   	border-radius: 70px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	
}
#btnCerrarPuntajeGanado:hover
{
	position: absolute;
	width:200px;
	height:200px;
	top: 470px;
   	left: 1070px;
   	border-radius: 70px;
	
}



#lblPuntajeMostrado
{
	position: absolute;
	top: 320px;
   	width:1280px;
   	text-align:center;
	
	font-weight: bold;	
	font-family:"Verdana";
	font-size:130px;
	font-style:italic;
	
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 3px white;
	
	
}

#lblPuntajeGanado
{
	position: absolute;
	top: 180px;
   	width:1280px;
   	text-align:center;
	
	font-weight: bold;	
	font-family:"Verdana";
	font-size:150px;
	font-style:italic;
	
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 3px white;
}

.ListadoPuntajesBackground
{
	top:150px;
	opacity: 0.3;
	background: yellow;
    left: 378px;
    position: absolute;
    width: 580px;
    height: 600px;
    
	
	
}
.ListadoPuntajes
{
	
    left: 380px;
    top:150px;
    position: absolute;
    width: 570px;
    
	
	
}

#lblNombrePuntaje
{
	font-weight: bold;	
	font-family:"Verdana";
	font-size:40px;
	font-style:italic;
	
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 1px white;
	
}
#lblPuntosPuntaje
{
	font-weight: bold;	
	font-family:"Verdana";
	font-size:40px;
	font-style:italic;
	
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 1px white;
	
}

#lblTituloPuntuacion
{
	position: absolute;
	top: 20px;
   	width:1240px;
   	text-align:center;
	left: 40px;
	font-weight: bold;	
	font-family:"Verdana";
	font-size:75px;
	font-style:italic;
	color: #004175;
	-webkit-text-fill-color: #004175;
	-webkit-text-stroke: 2px black;
	
}